<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

<div class="auth-container">

<div class="auth-card">

<h2>Login</h2>

<input type="email" id="email" placeholder="Email">

<input type="password" id="password" placeholder="Password">

<p id="errorMsg" class="error"></p>

<button onclick="login()">Login</button>

<p class="switch">
Don't have an account?
<a href="/signup">Signup</a>
</p>

<a href="/" class="home-btn">Back to Home</a>

</div>

</div>

<script>

function login(){

const email=document.getElementById("email").value
const password=document.getElementById("password").value
const error=document.getElementById("errorMsg")

error.innerText=""

fetch("/login",{
method:"POST",
headers:{
"Content-Type":"application/json"
},
body:JSON.stringify({
email:email,
password:password
})
})
.then(res=>res.json())
.then(data=>{
if(data.success){
window.location.href=data.redirect
}else{
error.innerText=data.message
}
})

}

</script>

</body>
</html>